{#
/**
 * @file
 * Template implementation for the media_remote_google_map theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
<iframe src="{{ url }}" title="{{ title }}" width="{{ width }}" height="{{ height }}" allow="fullscreen"></iframe>
