{#
/**
 * @file
 * Template implementation for the media_remote_quickbase theme hook.
 *
 * Available variables:
 * - url: (string) The URL of this quickbase embed.
 */
#}
<script lang="javascript" src="{{ url }}"></script><style>td.hd { font-weight:bold; }</style>
<script lang="javascript"><!--
  if (typeof qdbWrite !== 'undefined') {
    qdbWrite();
  }
  //--></script>
